<div class="container-fluid">
    <div class="row">
        <div class="col-4 border-dark border-end">
            <div class="d-flex mb-3 mt-2">
                <!-- Tìm kiếm -->
                <div id="input-group-notedSearch" class="input-group ipgroup-form me-2">
                    <input id="txt-notedSearch" type="search" class="form-control" title="Nhập từ khoá tìm kiếm"
                        placeholder="Nhập từ khoá tìm kiếm">
                    <button id="btn-notedSearch" class="btn btn-secondary">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>

                <!-- Thêm mới -->
                <div id="input-group-notedAdd" class="input-group ipgroup-form w-auto">
                    <input id="txt-notedAdd" type="text" class="form-control d-none" title="Nhập tên ghi chú"
                        placeholder="Nhập tên ghi chú">
                    <button id="btn-notedAdd" class="btn btn-secondary border-top-bottom-left-radius">
                        <i class="fa-sharp fa-solid fa-plus"></i>
                    </button>
                </div>
            </div>

            <div id="list-noted" class="list-group overflow-y-scroll overflow-x-hidden pt-2" style="height: 467px">
                {{#if notedList}}
                {{#each notedList}}
                <a class="list-group-item pointer p-0" data-id="{{this.id}}" data-bs-toggle="list">
                    <div class="d-flex">
                        <div class="w-100 p-2 overflow-hidden">
                            <strong title="Ghi chú của tôi"
                                class="txt-notedname text-nowrap text-start">{{this.namelist}}</strong>
                            <input class="tbl-notedname form-control form-control-sm d-none" value="{{this.namelist}}"
                                type="text">
                            <p class="m-0 text-nowrap text-end">{{this.atupdate}}</p>
                        </div>

                        <div class="noted-content">
                            <button class="btn btn-sm btn-outline-secondary btn-noted-toggle-action"
                                data-id="{{this.id}}">
                                <i class="fa-solid fa-angle-left"></i>
                            </button>
                            <div class="noted-content_action" data-id="{{this.id}}">
                                <button class="btn-notedEdit btn btn-primary text-nowrap">
                                    Chỉnh sửa
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>

                                <button class="btn-notedDelete btn btn-danger text-nowrap">
                                    Xoá bỏ
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </a>
                {{/each}}
                {{else}}
                <p class="p-0">Chưa có danh sách nào được tạo! <br>Hãy tạo một cái để tiếp tục.</p>
                {{/if}}
            </div>
            <script type="text/x-handlebars-template" id="template-list-noted">
                %#if notedList%
                %#each notedList%
                <a class="list-group-item pointer p-0" data-id="%this.id%" data-bs-toggle="list">
                    <div class="d-flex">
                        <div class="w-100 p-2 overflow-hidden">
                            <strong title="Ghi chú của tôi" class="text-nowrap text-start">%this.namelist%</strong>
                            <p class="m-0 text-nowrap text-end">%this.atupdate%</p>
                        </div>

                        <div class="noted-content">
                            <button class="btn btn-sm btn-outline-secondary btn-noted-toggle-action"
                                data-id="%this.id%">
                                <i class="fa-solid fa-angle-left"></i>
                            </button>
                            <div class="noted-content_action" data-id="%this.id%">
                                <button class="btn-notedEdit btn btn-primary text-nowrap">
                                    Chỉnh sửa
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>

                                <button class="btn-notedDelete btn btn-danger text-nowrap">
                                    Xoá bỏ
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </a>
                %/each%
                %else%
                <p class="p-0">Chưa có danh sách nào được tạo! <br>Hãy tạo một cái để tiếp tục.</p>
                %/if%
            </script>
        </div>

        <div class="col-8 ">
            <div id="noted-content" class="overflow-y-scroll mt-2 mb-2" style="max-height: 510px;"></div>
            <div id="noted-content_editor" class="overflow-y-hidden position-relative mt-2 mb-2 d-none"
                style="height: 510px;">
                <div id="ckeditor_balloon" class="w-100 h-100"></div>

                <div class="position-absolute" style="bottom: 2%; right: 2%;">
                    <button id="btn-noted-close" class="btn btn-sm btn-secondary me-2">
                        Huỷ bỏ
                        <i class="fa-solid fa-floppy-disk"></i>
                    </button>

                    <button id="btn-noted-save" class="btn btn-sm btn-success">
                        Lưu lại
                        <i class="fa-solid fa-floppy-disk"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="../../public/js/noted.js"></script>