<div class="offcanvas-header">
    <h5 name="title" class="offcanvas-title text-center w-100 fw-bold" id="offcanvasSettingLabel">
        Danh Sách Các Chi Tiêu
    </h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>

<div class="offcanvas-body">
    <!-- Add -->
    <div name="add" class="mb-3 position-relative d-flex">
        <button name="name" id="btn-spendlist-open_form" class="btn btn-secondary me-3 text-nowrap z-1">Thêm Danh Sách</button>

        <div class="input-group form-addSpendlist">
            <input name="input" id="tbl-spendlist-add" type="text" class="form-control" placeholder="Nhập tên danh sách">

            <button id="btn-spendlist-add" class="btn btn-success">
                <i class="fa-solid fa-floppy-disk"></i>
            </button>
        </div>
    </div>
    <!-- Table -->
    <div class="tableScroll" style="height: 372px;">
        <table id="spendlistTbl" class="table table-hover border">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th name="name" scope="col">Tên Danh Sách</th>
                    <th name="date" scope="col">Ngày Tạo</th>
                    <th name="total" scope="col">Tổng Tiền</th>
                    <th style="border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);">
                    </th>
                </tr>
            </thead>
            <tbody id="tb-totalPerSpendItem">
                {{#if spendList}}
                {{#each spendList}}
                <tr class="pointer">
                    <th id="tbl-spendlist-id" scope="row">{{this.id}}</th>
                    <td style="white-space: nowrap;">
                        <span id="tbl-spendlist-name">{{this.namelist}}</span>
                        <input id="tbl-spendlist-input" type="text" class="form-control form-control-sm"
                            value="{{this.namelist}}">
                    </td>
                    <td>{{this.atcreate}}</td>
                    <td>{{this.totalprice}}</td>
                    <td>
                        <div class="group-btn_action">
                            <button id="btn-spendlist-edit" class="btn btn-primary">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>

                            <button id="btn-spendlist-delete" class="btn btn-danger">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </div>
                        <div class="group-btn_action-edit">
                            <button id="btn-spendlist-save" class="btn btn-success">
                                <i class="fa-solid fa-floppy-disk"></i>
                            </button>

                            <button id="btn-spendlist-cancel" class="btn btn-danger">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                {{/each}}
                {{/if}}
            </tbody>
        </table>
    </div>
</div>

<!-- Modal Confirm Delete List -->
<div class="modal modal-sm fade" id="modalConfirmDeleteList" tabindex="-1"
    aria-labelledby="modalConfirmDeleteList" aria-hidden="true" data-bs-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <strong class="text-danger">Bạn có chắc muốn xoá danh sách này không?, tất cả dữ liệu trên danh sách này cũng sẽ bị xoá.</strong>
                <div class="mt-3">
                    <input id="reminderDeleteList" type="checkbox" class="form-check-input">
                    <label for="reminderDeleteList" class="form-check-label pointer">Không hiển thị lại lời nhắc</label>
                </div>
                <div class="mt-3 d-flex justify-content-end">
                    <button name="close" type="button" class="btn btn-sm btn-outline-secondary" style="width: 100px;"
                        data-bs-dismiss="modal">Thoát</button>
                    <button name="delete" id="btnConfirmDeleteList" type="button" class="btn btn-sm btn-primary ms-2"
                        style="width: 100px;">Xoá</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="../../public/js/spendlist.js"></script>